---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Cost from "../components/Cost.astro";
import Promises from "../components/Promises.astro";
import Dashboard from "../components/Dashboard.astro";
import Scenarios from "../components/Scenarios.astro";
import Pricing from "../components/Pricing.astro";
import FAQ from "../components/FAQ.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Cost />
    <Promises />
    <Dashboard />
    <Scenarios />
    <Pricing />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</Layout>
